<div class="container">
    <ul>
        <li>
            <div class="scale-down">
                <app-circular-progress value="238" maxVal="400" stroke="red"></app-circular-progress>
            </div>
           <div class="text">
                <p class="regular">
                    PM2.5 (Particulate matter less than 2.5 microns)
                </p>
                <span class="caption">
                    Poor | 239μg/m<sup>3</sup>
                </span>
           </div>
        </li>
    </ul>
</div>