<header>
    <a routerLink="" role="button" aria-label="Back to home">
        <i class="icon regular close"></i>
    </a>
</header>
<div class="content">
    <h4>A Big shoutout ❤ to</h4>
    <h2 class="primary">Tobias Van Schneider</h2>
    <h6 class="primary-light"> Thank you! Gracias! धन्यवाद!</h6>
    <p class="regular">
        Tobias your work inspired me a lot and it is really a fun idea to have an authentic weather application. 
       and this application was inspired by Tobias Project that he shared on <a
            href="https://www.behance.net/gallery/7196565/Authentic-Weather" target="blank">Behance</a> by him.
        I have modified the original design to make it for firednly for the Web.
    </p>
</div>