@import "../../vars.scss";

.home{
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
        display: flex;
        align-items: center;
        p{
            padding-left: 1rem;
        }
    }
    h1{
        padding: 1rem 0;
        span{
            font-weight: bold;
        }
        
    }
    .bottom{
        align-self: center;
        text-align: center;
        width: 100%;
        i{
            position: relative;
            cursor: pointer;
            animation: bounce 0.9s infinite linear;
        }
    }
}



.icon {
    height: 3.125rem;
    width: 3.125rem;
    display: inline-block;
}

.down-arrow{
    background-image: url('../../assets/down.svg');
    height: 70px !important;
    width: 70px !important;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.cloudy{
    background-image: url('../../assets/cloudy.svg');
    background-size: cover;
}
.haze{
    background-image: url('../../assets/fog_mist.svg');
    background-size: cover;
}

.day{
    &.clear{
        background-image: url('../../assets/clear_sky.svg');
        background-size: cover;
    }
    &.light-clouds{
        background-image: url('../../assets/light_clouds.svg');
        background-size: cover;
    }
    &.partial-cloud{
        background-image: url('../../assets/partial_cloud.svg');
        background-size: cover;
    }
    &.rain{
        background-image: url('../../assets/rain.svg');
        background-size: cover;
    }
    &.light-rain{
        background-image: url('../../assets/light_rain.svg');
        background-size: cover;
    }
}

.night{
    &.clear{
        background-image: url('../../assets/night_clear.svg');
        background-size: cover;
    }
    &.light-clouds{
        background-image: url('../../assets/night_light_clouds.svg');
        background-size: cover;
    }
    &.partial-cloud{
        background-image: url('../../assets/night_partial_cloud.svg');
        background-size: cover;
    }
    &.rain{
        background-image: url('../../assets/rain.svg');
        background-size: cover;
    }
    &.light-rain{
        background-image: url('../../assets/night_light_rain.svg');
        background-size: cover;
    }
}
.snow {
    background-image: url('../../assets/snow.svg');
    background-size: cover;
}

.thuderstrom {
    background-image: url('../../assets/thuderstrom.svg');
    background-size: cover;
}

.gray {
    color: $gray4;
}

.danger {
    color: $danger;
}
.primary {
    color: $primary;
}
.amber {
    color: $amber;
}
.primary-light {
    color: lighten($primary, 10%);
}