<div class="home">
    <section class="top">
        <section class="info"  *ngIf="locationFlag">
            <i class="icon" [ngClass]="[moment, weatherDescription.className]"></i>
            <p class="regular">
                {{currentWeather.temp | number: '1.0-0'}}&deg;C | {{currentWeather.description | titlecase}} | {{currentWeather.cityName}} 
            </p>
        </section>
        <h1> {{weatherDescription.part1}}
            <span [ngClass]="weatherDescription.textClass">{{weatherDescription.keyword}}</span> {{weatherDescription.part2}}
        </h1>
        <span class="caption" [innerHTML]="weatherDescription.subMessage"></span>
    </section>
    <section class="bottom" *ngIf="locationFlag" >
        <a href="#details"><i class="icon regular down-arrow"></i></a>
        <p class="caption">Oh you want more info!</p>
    </section>
</div>
<div id="details"  *ngIf="locationFlag">
    <app-details></app-details>
</div>