<div class="details-page">
    <h6 tabindex="0" aria-label="Temperature through the day">Temperature through the day</h6>
    <app-temp-forcast [list]="forcast.list"></app-temp-forcast>
    <div class="row">
        <section class="col">
            <h6 tabindex="0">Wind</h6>
            <app-compass [wind]="forcast.wind"></app-compass>
        </section>
        <section class="col">
            <h6 tabindex="0">Humidity</h6>
            <app-circular-progress [value]="forcast.humidity" [stroke]="color" ></app-circular-progress>
        </section>
    </div>
    <app-aqi></app-aqi>
</div>
