.details-page{
    padding: 1rem 0;
    height: calc(100vh - 2rem);
    .row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0 2rem;
        & > *{
            width: 100%;
            text-align: center;
        }
    }
    h6 {
        padding: .5rem 0;
    }
}